.ipynb_checkpoints/
__pycache__/
fs_mi.pdf
momentum_optimizer_comparision.pdf
momentum_optimizers.pgf
results/
results
figures/
hf.py
adam_experiments.ipynb
animation_manim/
lbfgs_hf.pdf
.idea/
execution_time.pdf